# Rules:
    1. Follow the given instructions strictly as the assignment will be automatically rejected if not done so.
    2. After you are done answering the questions, save the notebook in .ipynb format and rename it as so;
        
        <<Your name as visible on 'My Courses' page>>_PW3-A1.ipynb
        
    3. After renaming the file as above submit onto the platform.

# Python W3 - Assignment 01


## Object Oriented Programming

List down the main components of object oriented programming and explain them.

Instructions:
- Enter your solution in the cell block below only. Double click to edit.
- Do not edit anything else apart from 'YOUR ANSWER HERE' for your solution



```
# This is formatted as code
```

##***Class***

* class is a collection of objects.  Unlike the primitive data structures, classes are data structures that the user defines. They make the code more manageable.
* when we define a class only the description or a blueprint of the object is created. There is no memory allocation until we create its object. The objector instance contains real data or information.

##***Constuctor***
* The job of the class constructor is to assign the values to the data members of the class when an object of the class is created.
* So, the properties of the car or any other object must be inside a method that we call __init__( ). This __init__() method is also known as the constructor method. We call a constructor method whenever an object of the class is constructed.

 * Now let’s talk about the parameter of the __init__() method. So, the first parameter of this method has to be self. Then only will the rest of the parameters come.

##***Methods***
 
* Methods are the functions that we use to describe the behavior of the objects. 
* They are also defined inside a class
* The methods defined inside a class other than the constructor method are known as the instance methods.

##**Inheritance**

* Inheritance is the procedure in which one class inherits the attributes and methods of another class.  The class whose properties and methods are inherited is known as Parent class. And the class that inherits the properties from the parent class is the Child class.

* The interesting thing is, along with the inherited properties and methods, a child class can have its own properties and methods.

##**Encapsulation**

* Encapsulation, as I mentioned in the initial part of the article, is a way to ensure security. Basically, it hides the data from the access of outsiders. Such as if an organization wants to protect an object/information from unwanted access by clients or any unauthorized person then encapsulation is the way to ensure this.

* You can declare the methods or the attributes protected by using a single underscore ( _ ) before their names. Such as- self._name or def _method( ); Both of these lines tell that the attribute and method are protected and should not be used outside the access of the class and sub-classes but can be accessed by class methods and objects.

* Though Python uses ‘ _ ‘ just as a coding convention, it tells that you should use these attributes/methods within the scope of the class.

##**Polymorphism**

* This is a Greek word. If we break the term Polymorphism, we get “poly”-many and “morph”-forms. So Polymorphism means having many forms. In OOP it refers to the functions having the same names but carrying different functionalities

##***DATA_ABSTRACTION***

* We use Abstraction for hiding the internal details or implementations of a function and showing its functionalities only. This is similar to the way you know how to drive a car without knowing the background mechanism. Or you know how to turn on or off a light using a switch but you don’t know what is happening behind the socket.

* Any class with at least one abstract function is an abstract class. In order to create an abstraction class first, you need to import ABC class from abc module. This lets you create abstract methods inside it. ABC stands for Abstract Base Class.

## Match the following:

A) Packages functions and variables into one bundle\
B) Object focused design\
C) Runs everytime you instantiate a class\
D) Data and functions focused design

I. Procedural Oriented Programming\
II. Classes\
III. Constructor\
IV. OOP\
V. None

I. -- (D)

2.

III.-- (C)

IV.--(B)

V.--(A)

## Scenario Code

At an animal shelter, the bookkeeper keeps track of different animals residing there, or those who have resided there before. For each different type of animal they have a designated set of instructions to follow about nutrition, medication etc. The bookkeeper is finding it hard to write down in excel sheets and account books, so they are looking into the programming side, to get some help. They hire a novice but skillful programmer inorder to tackle this bottleneck, which is you!

You have to come with a structure of classes which can differentiate the following animals, demonstrating the OOP cocepts;

`[Dog,Cat,Lion,Eagle,Crocodile,Crabs,Fishes,Lizard,Reptiles,Turtles, Vertebrates,Invertebrates, Insects, Arthropods, Crustaceans,Butterflies,cockroaches, ants]`

Instructions:
- Enter your solution in the cell block below only. Double click to edit.
- Do not edit anything else apart from 'YOUR ANSWER HERE' for your solution






Vertebrates

Mammal

Dog,

Cat,

Lion,

Fishes

Birds
Eagle,
Reptiles,
Crocodile
Lizard
Turtles,
Invertebrates
Arthropods, 
Insects, 
Butterflies,
Cockroaches
Ants
Crustaceans,
Crabs

![image.png]()

In [1]:
class Vertebrates:

    
    def __init__(self, age = 0, weight = 0, animal_is_alive = True):
        # instance attributes
        self.age = age
        self.weight = weight
        self.animal_is_alive = animal_is_alive

class Invertebrates:

    
    def __init__(self, age = 0, weight = 0, animal_is_alive = True):
        # instance attributes
        self.age = age
        self.weight = weight
        self.animal_is_alive = animal_is_alive

#### Sub class
class Mammals(Vertebrates):
    def vivipary(self):
        print('i am mammal')


class Fishes(Vertebrates):
    def swim(self):
        print('i can breathe in water')

class birds(Vertebrates):
    def fly(self):
        print('i have wings')

class reptiles(Vertebrates):
    def climb(self):
        print('I am cold blooded animal ')

class Anthropods(Invertebrates):
    def exoskelton(self):
        print('i amstrong like an Iron Man')

class Insects (Anthropods):
    def Malaria(self):
        print('little but dangerous')

class crustacean(Anthropods):
    def biramous (self):
        print('two antena ,two eye')

##### sub class 

class Dog(Mammals):
    def bark(self,thisManyTimes=3):
        print('\n')
        for i in range(thisManyTimes):
            print('hop', end=' ')
        print('\n')

class Cat(Mammals):
    def meow(self,thisManyTimes=3):
        print('\n')
        for i in range(thisManyTimes):
            print('hop', end=' ')
        print('\n')

class Lion(Mammals):
    def roar(self,thisManyTimes=3):
        print('\n')
        for i in range(thisManyTimes):
            print('hop', end=' ')
        print('\n')

class eagle(birds):
    def hawk(self):
        print('we are queen of sky.')


class crocodile(reptiles):
    def bite(self):
        print('I had strongest bite in all animal ')

class lizard(reptiles):
    def tail(self):
        print('I had ability to break off part of their tails when a predator grabs it ')

class turtle(reptiles):
    def water(self):
        print('I am different from tortiose ')


class Butterfly (Insects):
    def beautifull(self):
        print('sweet honey')

class cockroach (Insects):
    def unhygine(self):
        print('use black hit')

class ants (Insects):
    def unity(self):
        print('learn from us')

class crabs (crustacean):
    def seafood (self):
        print('delacious')

## Scope of Variable

What is the scope of a variable? Define the different types of variables based on scope.


Instructions:
- Enter your solution in the cell block below only.
- Do not edit anything else apart from 'YOUR ANSWER HERE' for your solutio

##**Scope of Varriables :**

Variables can only reach the area in which they are defined, which is called scope.It is an extent of the program code within which the variable can be accessed or declared or worked with. 

There are mainly two types of variable scopes: 

**1.Local Variables:**

*     Local variables do not exist outside the block in which they are declared, i.e. they can not be accessed or used outside that block.
*     Declaring local variables: Local variables are declared inside a block.

**2.Global Variables:**

*   They  accessed from any part of the program.
*   They are available through out the life time of a program.

*   They are declared at the top of the program outside all of the functions or blocks.

## Numpy Arrays

Answer the following sub-questions using the following instructions;

- Enter your solution in the cell block below only.
- Do not edit anything else apart from 'YOUR ANSWER HERE' for your solution

In [ ]:
#Run this code cell before proceeding to answer the questions below
import numpy as np

### Create Null vector of size 10

In [ ]:
def ans1():
    '''
    Should return a numpy array ONLY
    '''
    # YOUR CODE HERE
    return np.zeros(10)
ans1()
    # raise NotImplementedError()

### Create a 3x3 matrix with values ranging from 0-8

In [ ]:
def ans2():
    '''
    Should return a numpy array ONLY
    '''
    # YOUR CODE HERE
    return np.arange(0,9).reshape(3,3)
    # raise NotImplementedError()
ans2()

### Find indices of non-zero elements from the numpy array - `[1,2,0,0,4,0]`

In [ ]:
def ans3():
    '''
    Should return a numpy array ONLY
    '''
    # YOUR CODE HERE
    ar = [1,2,0,0,4,0]
    e = np.array(ar)
    return np.where (e == 0)
ans3()
    # raise NotImplementedError()

### Create a random vector of size 30 and find the mean value

In [ ]:
def ans4():
    '''
    Should return a tuple = (random array,mean of random array)
    '''
    # YOUR CODE HERE
    return np.arange(30).mean()
    # raise NotImplementedError()
ans4()

## Pandas

Answer the following sub-questions using the following instructions;

- Enter your solution in the cell block below only.
- Do not edit anything else apart from 'YOUR ANSWER HERE' or 'YOUR CODE HERE' for your solution

In [ ]:
#Run this cell before proceeding with the below questions;

import pandas as pd

### Create a dataframe with columns and values as follows;
`
'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]
`

In [ ]:
def ans5():
    x = [78,85,96,80,86]
    y = [84,94,89,83,86]
    z = [86,97,96,72,83]
    n =["X","Y","Z"]
    low = {'X':x,'Y':y,'Z':z}
    '''
    x,y,z are three lists which contain the column values
    Should return a dataframe with the passed lists as columns and X,Y,Z as column names
    '''
    # YOUR CODE HERE
    
    
    # YOUR CODE HERE
    return pd.DataFrame(low)
ans5()

### Indexing Dataframe

Create a function to slice the dataframe using three parameters;\
`
m: rows
n: columns
df: dataframe
`

In [ ]:
def ans6(m,n,df):
    '''
    m: List containing the rows to be sliced
    n: List containing the names of the columns to be indexed
    df: Dataframe to be sliced using m,n lists
    Should ONLY return the sliced rows and columns 
    '''
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
m = [97,45,34,67,23,4,367,98]
n =["a","b","c","d","e","k","g","h"]
lol = {'Name':n,'Marks':m}
lol
df = pd.DataFrame(lol)
df

### Filtering Data Frames

Write examples, one each for filtering, sorting and grouping using different columns of a dataframe

In [ ]:
Tiger = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
Cow = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Horsepower': [141, 80, 182 , 160]}
elephant = pd.DataFrame(Tiger)
ox = pd.DataFrame(Cow)
tigress = pd.merge(elephant ,ox)
print(tigress)

In [ ]:
# YOUR CODE HERE
j = tigress.groupby('Price').mean()# groupingon Price
print(j)

In [ ]:
# YOUR CODE HERE
rat = tigress[(tigress.Horsepower > 80)] # Filter on Horsepower
print(rat)

In [ ]:
# YOUR CODE HERE
tigress.sort_values(by = ['Price']) #sort

### Joining two data frames

Create two dataframes and join them using the different methods available in pandas

In [ ]:
# YOUR CODE HERE
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Horsepower': [141, 80, 182 , 160]}
d1 = pd.DataFrame(Car_Price,index=[1,2,3,4])
print(d1,"\n","\n")
d2 = pd.DataFrame(car_Horsepower,index=[1,2,3,4])
print(d2,"\n","\n")
# Method 1
d3 = pd.merge(d1,d2)
print(d3,"\n","\n")
# Method 2
aalu = [d1,d2]
bike = pd.concat(aalu, keys=["Maruti", "Farrari"])
print(bike,"\n","\n")
# Method 3
cycle = pd.concat([d1, d2], axis=1)
print(cycle,"\n","\n")
d4 = d3.T # Transpose
# Method 4
Horse = pd.concat([d1, d4], axis=1, join="outer")
print(Horse,"\n","\n")

### Data Cleaning

Create a dataframe with null values and perform the following operations on it;

- Clear the null values completely

In [ ]:
# YOUR CODE HERE
import pandas as pd
import numpy as np

potato = {'Banana':  [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
        'Orange': [11,12,np.nan,13,14,np.nan,15,16,np.nan,np.nan,17,np.nan,19,np.nan],
        'Watermellon': [20,21,22,23,np.nan,24,np.nan,26,27,np.nan,np.nan,28,29,30]
       }
pizza = pd.DataFrame(potato)

print (pizza)

almond = pizza.fillna("Maggie", inplace = True)
df1

- Replace the null values with the mean of the column

In [ ]:
# YOUR CODE HERE

potato = {'Banana':  [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
        'Orange': [11,12,np.nan,13,14,np.nan,15,16,np.nan,np.nan,17,np.nan,19,np.nan],
        'Watermellon': [20,21,22,23,np.nan,24,np.nan,26,27,np.nan,np.nan,28,29,30]
       }
burger = pd.DataFrame(potato)

print(burger)

jaljera=burger.mean()
print(jaljera)

Sandwicth = burger.fillna(jaljera, inplace = True)
burger